<h1> A propos du mallotromy </h1>


<p>
Le site Mallotromy est une application web et mobile pour animer vos soirées entre amis, vos mariages, vos soirées pyjamas ...
Le principe est simple :
Pour jouer, il vous suffira un ordinateur/téléphone/tablette et une connexion internet.
Peut importe le nombre de participants, tout le monde est le bienvenue (Plus il y a de fou, plus on rit n’est ce pas ? ).

De nombreux filtres sont présent afin de décider si vous voulez jouer avec de l’alcool ou sans, si les gages sont difficiles ou non ...

Bref, si nous avons fait ce site, c’est parce tous les jeunes (et moins jeunes) cherchent des jeux à faire en soirée et que bien souvent, ils nous manquent soit des cartes, soit des dés ... 
Il était important pour nous de combler ce manque et de proposer un jeu disponible pour tous et partout car rare sont ceux qui n’ont pas de téléphone de nos jours !

Bonne soirée à tous (et attention, l’abus d’alcool est dangereux pour la santé, à consommer avec moderation !)
</p>
