	<h2> Les règles du mallotromy </h2>
	<p class="wtf">
		Les règles de mallotromy sont assez simples car il faut avouer qu’après quelques verres, tout devient complexe.
		<br /><br />
	Pour commencer à jouer, il vous faudra vous connecter à notre site <a href= «malltotromy.com»> mallotromy </a>, une évidence me direz vous.<br />
	Ensuite, soit vous possédez un compte et vous vous connectez, soit vous n’en possédez pas un et votre but-état-taux d’alcoolémie ne vous pousse pas à en créer un.<br /><br />

	Donc, si votre état / vision de la complexité est altéré, je vous conseille d’appuyer sur jouer et d'exécuter le gage qui vous sera donné.<br />
	Sinon, il est possible de filtrer les gages par difficulté et quantité de boisson à ingurgiter.<br />
	Sachez que Mallotromy conseille avant tout et surtout de boire de l’eau ainsi que des jus de fruits car ceux ci sont bons pour la santé. Toute incitation à boire de l’alcool serez une maladresse que nous ne pouvons nous permettre. D’ailleurs sachez tous que l’abus d’alcool est dangereux pour la santé et qu’il est donc à consommer avec modération.<br /><br />

	Parenthèse fermée, continuons sur les règles de Mallotromy :<br />
	Tous joueurs entrant dans la partie est soumis à une mise à niveau par rapport à ses adversaires (Aucuns désavantages n’est évidemment autorisé).<br />
	Le premier a quitter la partie a évidemment perdu et surtout devra payer un verre à ses camarades lors de la prochaine soirée (Eau, jus de fruits ....).<br />
	Pour le reste des règles, je suis certain que vous serez vous débrouillez !<br /><br />

	Bon jeux à tous !


	</p>