<section class="is-box playground">
  <div class="content">
    <h1>Bois trois shooter <span class="is-small is-light name">Georges</span></h1>
    <p>lorem ipsum dolor et sit ame adiscipling condescum lorem ipsum dolor et sit ame adiscipling condescum lorem ipsum dolor et sit ame adiscipling condescum</p>
    <p class="tags">
      <span class="tag">nulle...</span>
      <span class="tag">ça pique !</span>
    </p>
  </div>

  <div class="action">
    <span class="btn btn-primary is-huge">Joue !</span>
  </div>
  <div class="clear"></div>
</section>