<section class="sub-bar">
  <div class="filter">
    <p class="label">Quelle quantité ?</p>
    <span class="tag is-active">nulle...</span>
    <span class="tag is-off">pas mal</span>
    <span class="tag is-off">masse !</span>
  </div>
</section>

<section class="box playground">
  <div class="content">
    <h1>Bois trois shooter <span class="light name">(Georges)</span></h1>
    <p>Si tu vomis, ya pas de soucis <span class="small light">(t'es juste une tapette)</span></p>
    <p class="tags">
      <span class="tag is-disabled">nulle...</span>
      <span class="tag is-disabled">ça pique !</span>
    </p>
  </div>

  <div class="action">
    <span class="btn btn-primary is-huge">Joue !</span>
    <p class="time-played light">9 tours joués</p>
  </div>
  <div class="clear"></div>
</section>

<section class="box activities">
  <table class="table">
    <tbody>
      <tr>
        <td class="rank">#9</td>
        <td class="rule">Bois trois shooters<span class="name light"> - Thomas</span></td>
      </tr>
      <tr>
        <td class="rank">#8</td>
        <td class="rule">Distribue deux gorgées<span class="name light"> - Arnaud</span></td>
      </tr>
      <tr>
        <td class="rank">#7</td>
        <td class="rule">Descend une bière cul sec !<span class="name light"> - Teddy</span></td>
      </tr>
      <tr class="is-disabled">
        <td class="rank">#6</td>
        <td class="rule">Bois une gorgée<span class="name light"> - Sylvain</span></td>
      </tr>      
      <tr>
        <td class="rank">#5</td>
        <td class="rule">Invente une règles... :o<span class="name light"> - Georges</span></td>
      </tr>      
      <tr>
        <td class="rank">#4</td>
        <td class="rule">Toutes filles boivent une gorgée !<span class="name light"> - Thomas</span></td>
      </tr> 
      <tr>
        <td class="rank">#3</td>
        <td class="rule">Embrasse le chien<span class="name light"> - Arnaud</span></td>
      </tr>            
    </tbody>
  </table>
</section>