<!--
<div ng-app="Gage_app">
	<div ng-controller = "GagesCtrl">
		<p ng-repeat="gage in gages"> 
			<input ng-model="gage.name">
			{{ gage.name}} 
		</p>
	</div>
</div>
-->
<h1>Mallotromy : Jeu d'alcool et de gage pour animer vos soirées entre amis</h1>
<p style="font-style:italic"><strong>Mallotromoy est un jeu de gage et jeu d'alcool</strong> pour animer vos soirée, anniversaires, mariage, enterrement de vie de garçons / jeune fille. C'est rigolo, drôle, plein d'idées et gratuit sur internet / mobile. Pas besoin de dés, pas besoin de cartes. Jeu à boire </p>

<div class="panel">
  <a href="#" class="th"><img style="float:left; margin-right:20px;" alt="mallotromy jeu alcool" src="http://placehold.it/150x150"></a>
  <h3>Boire un shooter</h3>
  <p>Il faut boire un shooter d'au mins 2cl et à 15° minimum</p>
  <div style="clear:both"></div>
</div>

<a href="" class="button large" style="display: block;">jouer</a>

</section>

<section id="sidebar" role="complementary" class="panel">
  <h4>Suivez Mallotromy</h4>
  <ul class="button-group radius">
    <li><a href="https://www.facebook.com/pages/Mallotromy/141311326026405" class="button radius small">Facebook</a></li>
    <li><a href="https://twitter.com/_mallotromy" class="button radius small">Twitter</a></li>
    <li><a href="http://www.tumblr.com/blog/mallotromy" class="button radius small">Tumblr</a></li>
    <li><a href="https://plus.google.com/u/0/b/110809072455641963711/110809072455641963711" class="button radius small">Google +</a></li>
  </ul>
  <h4>Mallotromy : Testez un jeu spécial</h4>
  <a href="" class="large button">Jeu du Roi</a>
  <h4>Mallotromy : Gages activés</h4>
  <table class="twelve">
    <tbody>
      <tr>
        <td>Boire 1 shooter</td>
      </tr>
      <tr>
        <td>Boire 2 shooter</td>
      </tr>
      <tr>
        <td>Boire 3 shooter</td>
      </tr>
      <tr>
        <td>Boire le tiers d'une bière cul sec</td>
      </tr>
      <tr>
        <td>Boire la moitié d'une bière cul sec</td>
      </tr>
      <tr>
        <td>Boire une bière cul sec</td>
      </tr>
      <tr>
        <td>Tout le monde boit</td>
      </tr>
      <tr>
        <td>Passe ton tour</td>
      </tr>
      <tr>
        <td>Les deux personnes qui t'entourent boivent</td>
      </tr>
      <tr>
        <td>Tout le monde boit sauf toi</td>
      </tr>  
      <tr>
        <td>Les filles boivent</td>
      </tr>
      <tr>
        <td>Les garçons boivent</td>
      </tr>
      <tr>
        <td>Distribue 3 shooters</td>
      </tr>
      <tr>
        <td>Distribue 3 gorgées</td>
      </tr>
      <tr>
        <td>Distribue une bière cul sec !</td>
      </tr>
    </tbody>
  </table>
</section>
</div>

<nav id="bottomMenu" role="navigation" class="show-for-small">
  <ul id="bottomNav" class="nav-bar">
    <li><a href="">One</a></li>
    <li><a href="">Two</a></li>
    <li><a href="">Three</a></li>
    <li><a href="">Four</a></li>
  </ul>
</nav>
<footer class="site-footer row" role="contentinfo">
</footer>
</div>





<!--
<section>
   <div class="row" style="padding-top:25px">
      <div class="twelve columns">
        <h1>Gallerie</h1>
        <ul class="block-grid four-up">
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Pong</a></h5>
          </li>
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Galaga</a></h5>
          </li>
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Pitfall</a></h5>
          </li>
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Donkey Kong</a></h5>
          </li>
        </ul>
        <ul class="block-grid four-up">
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Pong</a></h5>
          </li>
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Galaga</a></h5>
          </li>
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Pitfall</a></h5>
          </li>
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Donkey Kong</a></h5>
          </li>
        </ul>
        <ul class="block-grid four-up">
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Pong</a></h5>
          </li>
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Galaga</a></h5>
          </li>
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Pitfall</a></h5>
          </li>
          <li>
            <a href="#"><img src="http://placehold.it/235x300" alt="mallotromy jeu alcool" /></a>
            <h5><a href="#">Donkey Kong</a></h5>
          </li>
        </ul>        
      </div>
    </div>
</section>
-->
