<h1>
  Bois trois shooter
</h1>
<h2>
  Bois trois shooter
</h2>
<h3>
  Bois trois shooter
</h1>
<h4>
  Bois trois shooter
</h4>
<h5>
  Bois trois shooter
</h5>
<h6>
  Bois trois shooter
</h6>
<p>lorem ipsum dolor et sit ame adiscipling condescum lorem ipsum dolor et sit ame adiscipling condescum lorem ipsum dolor et sit ame adiscipling condescum</p>
<p class="is-small is-light">lorem ipsum dolor et sit ame adiscipling condescum lorem ipsum dolor et sit ame adiscipling condescum lorem ipsum dolor et sit ame adiscipling condescum</p>
<a href="">ceci est un lien</a>