<!--
<div ng-app="Gage_app">
	<div ng-controller = "GagesCtrl">
		<p ng-repeat="gage in gages"> 
			<input ng-model="gage.name">
			{{ gage.name}} 
		</p>
	</div>
</div>
-->
  <div class="container">


    <div class="row">
      <section role="main">

    <header id="header" class="row">
      <div class="four columns phone-two">
        <h1 id="site-title"><a href="">Gag'app</a></h1>
      </div>
      <div class="eight columns phone-two">
        <nav id="menu" role="navigation" class="hide-for-small">
          <ul id="nav" class="nav-bar">
            <li><a href="" class="main">One</a></li>
            <li><a href="" class="main">Two</a></li>
            <li><a href="" class="main">Three</a></li>
            <li><a href="" class="main">Four</a></li>
          </ul>
        </nav>
        <p class="show-for-small">
          <a class='menu-button button' href="#bottomNav">Menu</a>
          <a class='sidebar-button button' id='sidebarButton' href="#sidebar" >Extra</a>
        </p>
      </div>
    </header>

        <div class="panel">
          <a href="#" class="th"><img style="float:left; margin-right:20px;" src="http://placehold.it/150x150"></a>
          <h3>Boire un shooter</h3>
          <p>lorem ipsum dolor et sit ame</p>
          <div style="clear:both"></div>
        </div>

        <a href="" class="button large" style="display: block;">jouer</a>

      </section>

      <section id="sidebar" role="complementary" class="panel">
      <h4>Suivez-nous</h4>
      <ul class="button-group radius">
        <li><a href="#" class="button radius small">Facebook</a></li>
        <li><a href="#" class="button radius small">Twitter</a></li>
        <li><a href="#" class="button radius small">Tumblr</a></li>
      </ul>
        <h4>Testez un jeu spécial</h4>
        <a href="" class="large button">Jeu du Roi</a>
        <h4>Gages activés</h4>
<table class="twelve">
  <tbody>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>  
              <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
  </tbody>
</table>
      </section>
    </div>


    <nav id="bottomMenu" role="navigation" class="show-for-small">
      <ul id="bottomNav" class="nav-bar">
        <li><a href="">One</a></li>
        <li><a href="">Two</a></li>
        <li><a href="">Three</a></li>
        <li><a href="">Four</a></li>
      </ul>
    </nav>
    <footer class="site-footer row" role="contentinfo">
    </footer>
  </div>
