  <h2>Réservez votre accès à la bêta de l'application qui arrosera toutes vos soirées.</h2>
  <p class="wtf"><a href="http://www.mallotromy.com">Mallotromy</a> est un jeu de gage et jeu d'alcool pour animer vos soirées, anniversaires, mariages, enterrements de vie de garçons / jeunes filles. <br />C'est rigolo, pleins d'idées et gratuit sur le web & mobile.<br />Pas besoin de dés, pas besoin de cartes...</p>
  
  <form class="form-add-mail" action="">
    <label class="label-error"></label>
    <input type="text" class="input-mail" placeholder="Indique simplement ton Email">
    <button type="submit" class="btn-mallotromy btn-big btn-for-add">Je réserve !</button>
  </form>

  <p class="title-success-message"> Votre mail est a bien été enregistré ! </p>
  <p class="success-message"> Reservez votre soirée, préparez les bouteilles, l'application sera bientôt disponible ! </p>
  

