<div id="wrapper">
  <nav>
    <ul id="nav">
      <li>
        <a href="http://www.mallotromy.com/about" class="main" title="a propos de mallotromy" itemprop="url"> A Propos de Mallotromy</a>
      </li>
      
      <li>
        <a href="http://www.mallotromy.com/rules" class="main" title="les règles du jeu Mallotromy" itemprop="url"> Les règles du Mallotromy </a>
      </li>
      
      <li>
        <a href="http://www.mallotromy.com/gallery" class="main" title="La gallerie des cocktails de Mallotromy" itemprop="url"> La Gallerie</a>
      </li>
      
      <li>
        <a href="http://www.mallotromy.com/blog" class="main" title="blog de mallotromy" itemprop="url"> Le Blog </a>
      </li>
    </ul>
  </nav>
  <hr>
  <h1> <a href="http://www.mallotromy.com">Mallotromy</a> <small>Prends cher !</small></h1>
  <h2>Réservez votre accès à la bêta de l'application qui arrosera toutes vos soirées.</h2>
  <p class="wtf"><a href="http://www.mallotromy.com">Mallotromy</a> est un jeu de gage et jeu d'alcool pour animer vos soirées, anniversaires, mariages, enterrements de vie de garçons / jeunes filles. <br />C'est rigolo, pleins d'idées et gratuit sur le web & mobile.<br />Pas besoin de dés, pas besoin de cartes...</p>
  
  <form action="">
    <input type="text" placeholder="Indique simplement ton Email">
    <button type="submit" class="btn-mallotromy btn-big">Je réserve !</button>
  </form>
  
  <section class="end">
    <p>Suivez-nous</p>
    <ul>
      <li>
        <a href="http://www.twitter.com/_mallotromy"> <i class="Entypo-Social twitter"> &#62218; </i> </a>
      </li>
      <li>
        <a href="http://www.facebook.com/pages/Mallotromy/141311326026405?fref=ts"> <i class="Entypo-Social facebook"> &#62221; </i> </a>
      </li>
      <li>
        <a href="http://pinterest.com/jeuxmallotromy/"> <i class="Entypo-Social pinterest"> &#62227; </i> </a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/110809072455641963711/posts"> <i class="Entypo-Social google"> &#62224; </i> </a>
      </li>
      <li>
        <a href="https://www.tumblr.com/login?redirect_to=%2Fblog%2Fmallotromy"> <i class="Entypo-Social tumblr"> &#62230; </i> </a>
      </li>
    </ul>
    <p class="authors">
      Un projet par
      <a target="_blank" href="http://twitter.com/TeddyLecaillon">@TeddyLecaillon</a>
      , 
      <a target="_blank" href="http://twitter.com//Thomazeo">@Thomazeo</a>
      ,
      <a target="_blank" href="http://lemalesaint.fr">Georges</a>
    </p>
  </section>
</div>

