<hr>
<footer class="site-footer row" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
  <h2> Mallotromy et ses partenaires </h2>
  <ul>
    <li> <a href="http://www.1001cocktails.com/" itemprop="url"> 1001cocktails </a> </li>
    <li> <a href="http://www.marmiton.org/recettes/selection_cocktail_et_boisson.aspx" itemprop="url"> Marmiton et ses Coktails</a> </li>
    <li> <a href="http://www.1001cocktails.com/cocktails/jeux/lister_jeu.php3" itemprop="url"> 1001cocktails et ses jeux d'alcool</a> </li>
    <li><a href="http://www.mallotromy.com/" itemprop="url">Mallotromy</a></li>
  </ul>

</footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37460322-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>