<div class="fixed contain-to-grid">
  <nav id="menu" role="navigation" class="top-bar" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul>
      <li class="name"> 
        <h1 id="site-title"><a href="http://www.mallotromy.com/" itemprop="url">Mallotromy</a></h1>
      </li>
    </ul>

    <section> 
      <ul id="nav" class="right">
        <li><a href="http://www.mallotromy.com/about" class="main" title="a propos de mallotromy" itemprop="url"> About Mallotromy</a></li>
        <li><a href="http://www.mallotromy.com/rules" class="main" title="les règles du jeu Mallotromy" itemprop="url"> Mallotromy's rules </a></li>
        <li><a href="http://www.mallotromy.com/gallery" class="main" title="La gallerie des cocktails de Mallotromy" itemprop="url"> Mallotromy's gallery</a></li>
        <li><a href="http://www.mallotromy.com/blog" class="main" title="blog de mallotromy" itemprop="url"> Blog </a></li>
      </ul>
    </section>
  </nav>
</div>

<header class="row" style="margin:40px auto 0;" itemscope itemtype="http://schema.org/WPHeader">
  <div class="twelve columns">
    <h1 id="site-title"><a href="http://www.mallotromy.com/" itemprop="url">Mallotromy </a></h1>
    <h4 itemprop="description">Jeu d'alcool et de gage pour animer vos soirées entre amis</h4>
  </div>
</header>