<!DOCTYPE html>
<html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<title>Mallotromy Application Jeu Alcool et Gages - Lille France</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8" /> 

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="Mallotromy est une application pour toutes vos soirées entre amis. Gages, jeux, alcool, " />
	<meta name="keywords" content="Gages, Alcool, Jeu, Application, Lille, France, Mallotromy" />

	

</head>
<body id="page" class="off-canvas">
	<div class="container">
		<div class="row">
			<section role="main">
				<header id="header" class="row">
					<div class="four columns phone-two">
						<h1 id="site-title"><a href="http://mallotromy.herokuapp.com/">Mallotromy</a></h1>
					</div>
					<div class="eight columns phone-two">
						<nav id="menu" role="navigation" class="hide-for-small">
							<ul id="nav" class="nav-bar">
								<li><a href="/about" class="main" title="a propos de mallotromy"> About Mallotromy</a></li>
								<li><a href="/rules" class="main" title="les règles du jeu Mallotromy"> Mallotromy's rules </a></li>
								<li><a href="/gallery" class="main" title="La gallerie des cocktails de Mallotromy"> Mallotromy's gallery</a></li>
							</ul>
						</nav>
						<p class="show-for-small">
							<a class='menu-button button' href="#bottomNav">Menu</a>
							<a class='sidebar-button button' id='sidebarButton' href="#sidebar" >Extra</a>
						</p>
					</div>
				</header>
			</section>
		</div>
	</div>

	<%= yield %>
	<%= javascript_include_tag "application" %>
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37460322-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>



</body>
</html>