<!DOCTYPE html>
<html>
<head>
  <title>Mallotromy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<!-- SCRIPT  -->
<%= javascript_include_tag "application" %>

</body>
</html>
